<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Welcome to Vivi Library</title>
    <link rel="stylesheet" th:href="@{/css/welcome.css}">
</head>
<body><center>
    <h1>Welcome to Vivi Library</h1>
    
    <h2>Book List</h2>
    <p><b>Click Below</b> to view the list of books</p>
    <h4><a th:href="@{/book/get}">Book List</a></h4>
    
    <h2>Borrow a Book</h2>
    <form th:action="@{/borrow/submit}" method="post">
        <label for="bookTitle">Book Title:</label>
        <input type="text" id="bookTitle" name="bookTitle" required>
        <br>
        <label for="userName">Your Name:</label>
        <input type="text" id="userName" name="userName" required>
        <br>
        <button type="submit">Borrow</button>
    </form>
    
    <!-- New Login Link -->
    <h2>Login</h2>
    <p><b>Click Below</b> to go to the login page</p>
    <h4><a th:href="@{/user/post}">Login</a></h4>
    
</center></body>
</html>

